# Enable autoindent, backup, and backupdir
set autoindent
# set backup
# set backupdir "/home/username/nano-backups"

# Enable mouse support, historylog, and autosave
set mouse
set historylog
set autosave

# Set tab size and convert tabs to spaces
set tabsize 4
set tabstospaces

# Enable line numbers and softwrap
set linenumbers
set softwrap

# Choose a color scheme that works for you
set titlecolor background,black
set statuscolor magenta
set keycolor blue
set functioncolor white
set numbercolor black

# Include syntax highlighting rules for supported file types
#include "~/.nano/*.nanorc"
