/* colors */

* {
  al:      #FFFFFFff;
  bg:      #2F343Fff;
  se:      #FFFFFFff;
  fg:      #FFFFFFff;
  ac:      #FFFFFFff;
  red:     #EC7875ff;
  green:   #61C766ff;
  yellow:  #FDD835ff;
  blue:    #5590E7ff;
  purple:  #BA68C8ff;
  cyan:    #4DD0E1ff;
}
